<div layout="column" flex="auto">
    <md-card>
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Hello</span>
                <span class="md-subhead">Deposit</span>
            </md-card-title-text>
        </md-card-title>
        <form novalidate name="frmDeposit" ng-submit="frmDeposit.$valid && $ctrl.save()">
            <md-card-content layout="row">
                <div>
                    <md-input-container>
                        <label>Amount</label>
                        <input type="number" ng-model="$ctrl.item.amount" required>
                    </md-input-container>
                </div>
            </md-card-content>
            <md-card-actions layout="row" layout-align="end center">
                <md-button type="submit" class="md-raised md-primary" ui-sref="home({url: $ctrl.url})">
                    <md-icon md-svg-icon="action:home"></md-icon>
                    Home
                </md-button>
                <md-button type="submit" class="md-raised md-accent">Submit</md-button>
            </md-card-actions>
        </form>
    </md-card>
</div>