<md-content class="md-padding" layout="row" layout-align="center center">
    <md-card>
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Welcome to ATM</span>
                <span class="md-subhead">Login</span>
            </md-card-title-text>
        </md-card-title>
        <form novalidate name="frmLogin" ng-submit="frmLogin.$valid && $ctrl.auth()">
            <md-card-content layout="row">
                <div>
                    <md-input-container>
                        <label>Username</label>
                        <input required ng-model="$ctrl.user.username" type="text">
                    </md-input-container>
                </div>
                <div>
                    <md-input-container>
                        <label>Pin</label>
                        <input required ng-model="$ctrl.user.pin" type="password">
                    </md-input-container>
                </div>
            </md-card-content>
            <md-card-actions layout="row" layout-align="end center">
                <md-button type="submit" class="md-raised md-accent">Login</md-button>
            </md-card-actions>
        </form>
    </md-card>
</md-content>