<md-content class="md-padding" layout="row" layout-align="center center">
    <md-card>
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Balance</span>
                <span class="md-subhead" ng-bind="$ctrl.item.url"></span>
            </md-card-title-text>
        </md-card-title>
            <md-card-content layout="row">
                <div>
                    <span class="md-subhead">Your account balance is {{ $ctrl.item.amount | currency }}</span>
                </div>
            </md-card-content>
            <md-card-actions layout="row" layout-align="end center">
                <md-button type="submit" class="md-raised md-primary" ui-sref="home({url: $ctrl.item.url})">
                    <md-icon md-svg-icon="action:home"></md-icon>
                    Home
                </md-button>
            </md-card-actions>
    </md-card>
</md-content>