<md-content class="md-padding" layout="row" layout-align="center center" flex="auto">
    <md-card>
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Hello</span>
                <span class="md-subhead">Pick an option</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content layout="row" layout-align="start start">
            <div>
                <md-input-container>
                    <label>Select Account</label>
                    <md-select ng-model="$ctrl.account">
                        <md-option ng-repeat="account in $ctrl.accounts.data" ng-value="account">
                            {{ account.url }}
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>
            <div>
                <md-list ng-cloak>
                    <md-list-item>
                        <md-button ui-sref="balance({url: $ctrl.account.url})">
                            <md-icon md-svg-icon="action:account_balance"></md-icon>
                            Check Balance
                        </md-button>
                    </md-list-item>
                    <md-list-item>
                        <md-button ui-sref="deposit({url: $ctrl.account.url})">
                            <md-icon md-svg-icon="action:store"></md-icon>
                            Deposit
                        </md-button>
                    </md-list-item>
                    <md-list-item>
                        <md-button ui-sref="withdraw({url: $ctrl.account.url})">
                            <md-icon md-svg-icon="action:pan_tool"></md-icon>
                            Withdraw
                        </md-button>
                    </md-list-item>
                    <md-list-item>
                        <md-button ui-sref="transfer({url: $ctrl.account.url})">
                            <md-icon md-svg-icon="action:swap_horiz"></md-icon>
                            Transfer
                        </md-button>
                    </md-list-item>
                </md-list>
            </div>
        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">
            <demo-logout></demo-logout>
        </md-card-actions>
    </md-card>
</md-content>